{% extends "blog/base.html" %}
{% load static %}
{% block content %}
  <h2>Edit Post</h2>
  <script src="{% static 'javascript/constantes.js' %}"></script>
  <script src="{% static 'javascript/edit_post.js' %}"></script>
  <form id="post-edit-form" method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="editBtn" type="submit" onclick=editPost()>Save changes</button>
    <button id="deleteBtn" type="submit" name="delete" onclick=deletePost()>Delete post</button>
  </form>
{% endblock %}