{% extends "blog/base.html" %}
{% load static %}
{% block content %}
  <h2>New Post</h2>
  <form id="post-edit-form">
    {% csrf_token %}
    <label for="titulo">Title:</label><br>
    <input type="text" id="titulo" name="titulo" required><br><br>
    <label for="corpo">Post Body:</label><br>
    <textarea id="corpo" name="corpo" rows="4" required></textarea><br><br>
    <button id="editBtn" type="submit" onclick="submitForm()">Save changes</button>
  </form>
  <script src="{% static 'javascript/constantes.js' %}"></script>
  <script src="{% static 'javascript/insert_post.js' %}"></script>
{% endblock %}