{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ post.titulo }}</title>
</head>
<body>
    <div id="post-detail"></div>
    <script src="{% static 'javascript/constantes.js' %}"></script>
    <script src="{% static 'javascript/exibeDetalhes.js' %}"></script>
    <script>
        const pathParts = window.location.pathname.split('/');
        const postId = pathParts[pathParts.length - 2];
        if (postId) {
            exibeDetalhes(postId);
        } else {
            console.error('Post ID not found in URL');
        }
    </script>
</body>
</html>